<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="column">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Hi there, my name is Pablo Prieto and I am a senior at
                      the City College of New York pursuing a B.E in Computer
                      Engineering. I am currently interning at NYC's MIS as a
                      web developer, where I use the ASP.NET Framework,
                      SQL databases and the C# coding language to work on multiple
                      projects. I have worked in projects of all types, from
                      data structures, algorithms, software design and API's to
                      designing logic gates for semiconductors and creating
                      latches to learn the concepts behind processors. </p>
                    <p>Languages that I am proficient in include, C, C#, C++, Python, Java,
                      Assembly Language, JavaScript, SQL, and HTML. I am greatly efficient
                      with object oriented programming and have an interest for web and
                      app design. As stated previously, I am currently doing an internship
                      in web development.</p>
                </div>
                
                <!-- <button class="test-reload">test button</button> -->
            </div>
        </div>
    </section>
